{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{% include 'flash_messages.html' %}

<ul class="d-flex flex-row flex-wrap">
    {% for p in properties %}
    <div class = "card" style="max-width: fit-content; margin: 5px;">
        <img src="{{url_for('get_image', filename="" + p.photo) }}" class="card-img-top" alt="property image"/>
        <div class="card-body">
            <h5 class="ml-2 mb-0 pb-0 card-title"> {{p.title}} </h5>

            <div class="mb-3 mt-1 d-flex flex-row flex-wrap">
                <i class="material-icons">location_on</i>
                <p class="card-text">  {{p.location}} </p>
            </div>

            <span class ="ptags text-white"> ${{p.price}} </span>
        </div>
        <div class = "btn bg-info card-footer text-center">
            <a href="{{url_for('get_property', propertyid="" + p.id | string) }}" class="card-link text-white">View Property</a>
        </div>
    </div>
    {% endfor %}
</ul> 
   
{% endblock %}