{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<ul class="d-flex flex-row flex-wrap" style="margin: 50px;">
    {% for p in properties %}
    <div id = "pcard" class = "card" style="margin: 10px; width: 800px;">
        <img src="{{url_for('get_image', filename="" + p.photo) }}" class="card-img" alt="property image"/>
        <div class="card-body">
            <h5 class="card-title"> {{p.title}} </h5>
            <div class="d-flex flex-row flex-wrap">
                <div class="ptags mr-2 text-white"> ${{p.price}}</div> 
                <div class="ttags text-dark">  {{p.types}} </div>
            </div>

            <div class= "mt-3">
                <p> {{p.description}} </p>
            </div>

            <div class="m-0 d-flex flex-row flex-wrap">
                <i class="material-icons">bed</i>
                <p class="ml-2 mr-3">  {{p.bedroom}} Bedroom </p>
                <i class="material-icons">bathroom</i>
                <p class="ml-2">  {{p.bathroom}} Bathroom </p>
            </div>
            <div class="mb-3 d-flex flex-row flex-wrap">
                <i class="material-icons">location_on</i>
                <p class="card-text ml-2">  {{p.location}} </p>
            </div>
            <a href="#" class="btn btn-info active">Email Realtor</a>
        </div>
    </div>
    {% endfor %}
</ul> 
   
{% endblock %}